<body style="background-color: white;">

  <app-navbar></app-navbar>

  <div
    class="table-wrapper-scroll-y my-custom-scrollbar"
    style="max-height: 652px !important"
  >
        <table class="table  table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Concepto</th>
              <th scope="col">Naturaleza</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ledger of Ledger">
              <th scope="row"> <strong>{{ ledger.code }}</strong></th>
              <td>{{ ledger.concept }}</td>
              <td *ngIf="ledger.balance == true"> Débito</td>
              <td *ngIf="ledger.balance == false"> Crédito</td>
              <td>{{ ledger.total | number}}</td>
            </tr>
          </tbody>
        </table>
      </div>

</body>
