<body>

  <app-navbar></app-navbar>

  <div class="container">
  <div class="row justify-content-center">
    <div class="col-lg">
      <div class="card">
        <table class="table table-wrapper-scroll-y table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Concepto</th>
              <th scope="col">Naturaleza</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ledger of getLedger()">
              <th scope="row"> <strong>{{ ledger.code }}</strong></th>
              <td>{{ ledger.concept }}</td>
              <td *ngIf="ledger.balance == true"> Débito</td>
              <td *ngIf="ledger.balance == false"> Crédito</td>
              <td>{{ ledger.total | number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
  </div>
</body>
