<body  style="background-color: #2f2f2f;">

  <div class="container pt-4 ">
    <div class="row">
        <div class="col-9">
           <h2> Actualizar Empresa</h2>
        </div>
    </div>
  </div>

<hr style="color: white;">
  <div class="bd-example" style="background-color: #2f2f2f;">

  <form class="container">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre de la Empresa</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Numero de Identificación Tributaria</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Direccion de oficinas</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Calle 123, con Av 1, con Diagonal 1">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Descripcion acerca del oficio de la empresa</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Zapateria, Control de Valores, Inmoviliaria...">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Numero de Telefono</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="555-555">
      </div>
    </div>


    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <button type="submit" class="btn btn-success btn-lg ">Actualizar </button>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="submit" class="btn btn-danger btn-lg btn-block" >  Cancelar  </button>
        </div>
      </div>
    </div>

  </form>

</div>
</body>
