<body  style="background-color: #2f2f2f;">

  <div class="container pt-4 ">
    <div class="row">
        <div class="col-9">
           <h2> Actualizar Empresa</h2>
        </div>
    </div>
  </div>

<hr style="color: white;">
  <div class="bd-example" style="background-color: #2f2f2f;">

  <div class="container">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre de la Empresa</label>
        <input type="text"
        class="form-control"
        id="input-group-text"
        placeholder="Empresa"
        style="color: white;"
        #txtEmpresa>
      </div>
    </div>
    <div class="form-group">
      <label for="Direccion">Direccion de oficinas</label>
      <input type="text"
      class="form-control"
       id="Direccion"
       placeholder="Calle 123, con Av 1, con Diagonal 1"
       style="color: white;"
       #txtDireccion>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion acerca del oficio de la empresa</label>
      <input type="text"
       class="form-control"
       id="descripcion"
       placeholder="Zapateria, Control de Valores, Inmoviliaria..."
       style="color: white;"
       #txtDescripcion>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Numero de Telefono</label>
        <input type="text"
        class="form-control"
        placeholder="555-555"
        style="color: white;"
        #txtTelefono>
      </div>
    </div>


    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <button
         class=" btn-success btn-lg "
         routerLink="/enterprise" routerLinkActive="router-link-active"
         (click)="onUpdate()">Actualizar </button>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <a type="submit"
           class="btn btn-danger btn-lg btn-block"
           (click)="onCancel()">  Volver  </a>
        </div>
      </div>
    </div>

  </div>

</div>
</body>
