<head>
  <style type="text/css">
    thead tr th {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: #2f2f2f;
    }

    .table-responsive {
      height: 800px;
      width: auto;
      overflow: scroll;
    }

    .my-custom-scrollbar {
      position: relative;
      height: 1500px;
      overflow: auto;
    }
    .table-wrapper-scroll-y {
      display: block;
    }
  </style>
</head>

<body>
  <app-navbar></app-navbar>

  <div
    class="table-wrapper-scroll-y my-custom-scrollbar"
    style="max-height: 652px !important"
  >
    <table class="table table-striped mb-0 table table-dark">
      <thead class="thead-dark">
        <tr>
          <th class="header" scope="col">Numero</th>
          <th class="header" scope="col">Código</th>
          <th class="header" scope="col">Concepto</th>
          <th class="header" scope="col">Naturaleza</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let puc of pucService.puc; let indice = index">
          <td>{{ indice + 1 }}</td>
          <td>{{ puc.cod_contable }}</td>
          <td>{{ puc.concepto }}</td>
          <td>{{ puc.naturaleza }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
