

      <nav class="navbar navbar-dark bg-dark justify-content-center pt-8 pb-5">
      <ul class="nav nav-pills navbar-dark">
        <li class="nav-item"><a  class="nav-link " routerLink="/home" routerLinkActive="active">Bienvenida</a></li>
        <li class="nav-item"><a  class="nav-link " routerLink= "/enterprise" routerLinkActive="active">Empresa</a></li>
        <li class="nav-item"><a  class="nav-link " routerLink="/puc" routerLinkActive="active">Puc</a></li>
        <li class="nav-item"><a  class="nav-link " routerLink="/dailyBook" routerLinkActive="active">Libro Diario</a></li>
        <li class="nav-item"><a class="nav-link " routerLink="/ledger"  routerLinkActive="active">Libro Mayor</a></li>
      </ul>
      <div class="d-flex flexbox ml-auto">
        <button type="button"
         class="btn btn-danger"
         (click)="logout()"> Cerrar Sesion</button>
      </div>
      <!-- Navbar content -->
    </nav>
