

<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link " routerLin="home" routerLinkActive="actiive">Bienvenida</a></li>
        <li class="nav-item"><a href="#" class="nav-link " routerLink="enterprise" routerLinkActive="actiive">Empresa</a></li>
        <li class="nav-item"><a href="#" class="nav-link " routerLink="puc" routerLinkActive="actiive">Puc</a></li>
        <li class="nav-item"><a href="#" class="nav-link " routerLink="dailyBook" routerLinkActive="actiive">Libro Diario</a></li>
        <li class="nav-item"><a href="#" class="nav-link " routerLink="ledger"  routerLinkActive="actiive">Libro Mayor</a></li>
      </ul>
    </header>
  </div>