
<app-navbar></app-navbar>
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2>My Financial Book</h2>
            <p>Bienvenido <strong> {{ getEmpresa() }}</strong> a My Financial Book dirección: <strong> {{ getDirection() }}  </strong><br/></p>
        </header>
        <span class="image"><img src="assets/logo.png" alt="" /></span>
    </div>
    <a href="https://daniel-cas.github.io/WebPage/index.html" class="goto-next scrolly">Next</a>
</section>
