<!-- Footer -->
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<div class="page wraper">
<footer id="footer">
    <div class="form-group">
    <div class="d-flex justify-content-center mt-3 login_container">
        <button type="button" name="button" class="btn login_btn btn-primary btn-lg ">¿Como inició todo?</button>
      </div>
    </div>
    <ul class="icons">
        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/Dani22p3" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.linkedin.com/in/jhon-sebastian-cagua-59160a207/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://www.instagram.com/cristiangarzon250/?hl=es-la" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/Daniel-Cas/WebPage" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; My Financial Book. Todos los derechos reservados.</li>
        <li>Diseño: <a href="">Jhoan David</a>
            <a href="">Jhon Cagua</a>
            <a href="">Daniel Castillo</a>
            <a href="">Carlos Riaño</a>
            <a href="">Cristian Garzón</a>
        </li>
    </ul>
</footer>

</div>